{{ define "main" }}
<main class="main" role="main">
	<article class="post">
		<header class="post__header">
			<h1 class="post__title">{{ .Title }}</h1>
			{{- with .Params.lead }}
			<p class="post__lead">{{ . }}</p>
			{{- end }}
			{{ with partial "post_meta.html" . -}}
			<div class="post__meta meta">{{ . }}</div>
			{{- end }}
		</header>
		{{- if .Params.thumbnail }}
		<figure class="post__thumbnail">
			<img src="{{ .Params.thumbnail | relURL }}" alt="{{ .Title }}">
		</figure>
		{{- end }}
		{{- partial "post_toc.html" . -}}

		<div class="content post__content clearfix">
			{{ if .Content }}
				{{ .Content }}
			{{ else }}
				{{ partial "ex_logo" .}}
				{{ if .Params.description }}
					<p>{{- .Params.description }}</p>
				{{ end }}
				<!-- Video -->
				{{ range (where $.Site.Data.exercises "eid" .Page.Params.eid) }}
					<p>Video demonstration:</p>
					<div>
						<iframe width="560" height="315" src="https://www.youtube.com/embed/{{.video.videoid}}?start={{.video.start}}&end={{add .video.start .video.duration}}" frameborder="0" allowfullscreen>
						</iframe>
						{{if .video.name}}
							<p>Exterpt from <a href="https://www.youtube.com/watch?v={{.video.videoid}}" target="_blank">{{.video.name}}<img src="/icons/out-site.png" alt="Leave site"></a>
							{{if .video.author}}
				        {{ range (where $.Site.Data.authors "author" .video.author) }}
				          by <a href="{{.url}}" target="_blank">{{.author}}<img src="/icons/out-site.png" alt="Leave site"></a>
				        {{end}}
				      {{end}}
							</p>
						{{end}}
					</div>
				{{ end }}

				{{ if .Params.steps }}
					<p>Step by step:</p>
					<ol>
						{{range .Params.steps}}
						<li>
							{{ . }}
						</li>
						{{end}}
					</ol>
				{{ end }}

				{{ if .Params.hints }}
					<p>Hints & tips:</p>
					<ul>
						{{range .Params.hints}}
						<li>
							{{ . }}
						</li>
						{{end}}
					</ul>
				{{ end }}

				{{ if .Params.benefits }}
					<p>Benefits:</p>
					<ul>
						{{range .Params.benefits}}
						<li>
							{{ . }}
						</li>
						{{end}}
					</ul>
				{{ end }}

				{{ if .Params.counting }}
					<p>Counting & gamification:</p>
					<ul>
						{{range .Params.counting}}
						<li>
							{{ . }}
						</li>
						{{end}}
					</ul>
				{{ end }}

			{{ end }}
		</div>

		{{ $au := slice }}
		{{ range .Params.muscles }}
    	{{ $au = $au | append . }}
		{{ end }}
		{{ range .Params.mobilities }}
    	{{ $au = $au | append . }}
		{{ end }}
		{{ range .Params.flexibilities }}
    	{{ $au = $au | append . }}
		{{ end }}
		{{ $au = sort $au | uniq}}
		{{ if $au }}
			<p>Muscles and areas involved:
				{{ range $i, $one_au := $au }}
				  {{- if ne $i 0 -}}, {{end}}
				  {{ . }}
				{{ end }}
			</p>
		{{ end }}

		{{ if or (.Params.similar) (.Params.oneway) }}
			<h2>Similar or related exercises:</h2>
		{{end}}

		{{ if .Params.oneway }}
			{{ $s := .Params.oneway }}
			{{ range .Site.Pages }}
				{{ if (eq $s .Params.eid) }}
					{{ partial "ex_quadrado_argument.html" . }}
				{{ end }}
			{{ end }}
		{{ end }}
		{{ if .Params.similar }}
			{{ range (where (where .Site.Pages "Params.similar" .Params.similar) "Params.eid" "!=" .Params.eid ) }}
			  {{ partial "ex_quadrado_argument.html" . }}
			{{ end }}
		{{ end }}

		{{ if .Params.support_to }}
			<h2>Supports and facilitates:</h2>
			{{ $s := .Params.support_to}}
			{{ range .Site.Pages }}
				{{ if in $s .Params.eid }}
					{{ partial "ex_quadrado_argument.html" . }}
				{{ end }}
			{{ end }}
		{{ end }}

		{{ if .Params.support_from }}
			<h2>Supported and facilitated by:</h2>
			{{ $s := .Params.support_from}}
			{{ range .Site.Pages }}
				{{ if in $s .Params.eid }}
					{{ partial "ex_quadrado_argument.html" . }}
				{{ end }}
			{{ end }}
		{{ end }}

		<footer class="post__footer">
		{{- if .Params.tags }}
			{{ partial "post_tags.html" . }}
		{{- end }}
		{{- if .Params.categories }}
			{{ partial "post_categories.html" . }}
		{{- end }}
		{{- if .Params.collections }}
			{{ partial "post_collections.html" . }}
		{{- end }}
		{{- if .Params.progressions }}
			{{ partial "post_progressions.html" . }}
		{{- end }}
		{{- if .Params.equipment }}
			{{ partial "post_equipment.html" . }}
		{{- end }}
		{{- if .Params.muscles }}
			{{ partial "post_muscles.html" . }}
		{{- end }}
		{{- if .Params.mobilities }}
			{{ partial "post_mobilities.html" . }}
		{{- end }}
		{{- if .Params.flexibilities }}
			{{ partial "post_flexibilities.html" . }}
		{{- end }}


<hr>

[{{- .Params.eid }}]

		</footer>

	</article>
</main>
{{ partial "authorbox.html" . }}
{{ partial "pager.html" . }}
{{ partial "comments.html" . }}
{{ end }}
