<div style="display: inline-block; text-align: center; width: 150px;" >
<!-- border-style: solid -->
  <div style="text-align: center;">
    <a href="{{.Permalink}}">

      {{ $eid := .Params.Eid }}
      {{ $imagepage := .Site.GetPage "page" "fakestatic/allimages/index.md" }}
      {{ $folder := substr $eid 0 1 }}
      {{ $imagename := printf "%s/%s.png" $folder $eid }}
      {{ $image := $imagepage.Resources.GetMatch $imagename }}

      {{ if $image }}
<!--        <p>[{{- $image.RelPermalink }}]</p> -->
        <img src="{{- $image.RelPermalink }}" alt="{{- .Title}} icon" style="width:150px;height:150px;">
      {{ else }}
        <p>...</p>
      {{ end }}

    </a>
  </div>
  <div style="display: inline-block; vertical-align: top; text-align: center;">
    <a href="{{.Permalink}}">{{.Title}}</a>
  </div>
</div>
