
<div class="">

  <div style="display: inline-block;" >
    <!-- display: inline-block; -->
    <a href="{{.Permalink}}">

      {{ $eid := .Params.Eid }}
      {{ $imagepage := .Site.GetPage "page" "fakestatic/allimages/index.md" }}
      {{ $folder := substr $eid 0 1 }}
      {{ $imagename := printf "%s/%s.png" $folder $eid }}
      {{ $image := $imagepage.Resources.GetMatch $imagename }}

      {{ if $image }}
        {{ $i := $image.Resize "150x" }}
        <img src="{{- $i.RelPermalink }}" alt="{{- .Title}} icon" width="{{ $i.Width }}" height="{{ $i.Height }}" style="">
      {{ else }}
        <p>...</p>
      {{ end }}

    </a>
  </div>
  <div style="vertical-align: top; display: inline-block">
    <a href="{{.Permalink}}">{{.Title}}</a>
  </div>
</div>
<!-- display: inline-block; -->
