
<div class="flex-container">

  <div class="flex-child-pic">
    <a href="{{.Permalink}}">

      {{ $eid := .Params.Eid }}
      {{ $imagepage := .Site.GetPage "page" "fakestatic/allimages/index.md" }}
      {{ $folder := substr $eid 0 1 }}
      {{ $imagename := printf "%s/%s.png" $folder $eid }}
      {{ $image := $imagepage.Resources.GetMatch $imagename }}

      {{ if $image }}
        {{ $i := $image.Resize "150x" }}
        <img src="{{- $i.RelPermalink }}" alt="{{- .Title}} icon" width="{{ $i.Width }}" height="{{ $i.Height }}" style="">
      {{ else }}
        <p>...</p>
      {{ end }}

    </a>
  </div>

  <div class="flex-child-text">
    <h2><a href="{{.Permalink}}">{{.Title}}</a></h2>

    {{range .Params.intro}}
      <p>{{ . }}</p>
    {{end}}

  </div>

</div>
