
{{ if or (.Params.OrderFull_First) (.Params.OrderFull_Last) }}
	Scan all exercises:<br>
	{{ if .Params.OrderFull_First }}
		{{range (where .Site.Pages ".Params.eid" .Params.OrderFull_First )}}
			<a href="{{.RelPermalink}}"><<</a>
		{{ end }}
		|
	{{ end }}
	{{ if .Params.OrderFull_Prev }}
		{{range (where .Site.Pages ".Params.eid" .Params.OrderFull_Prev )}}
			<a href="{{.RelPermalink}}"><{{.Title}}</a>
		{{ end }}
		|
	{{ end }}
	<b>{{.Title}}</b>
	{{ if .Params.OrderFull_Next }}
		|
		{{range (where .Site.Pages ".Params.eid" .Params.OrderFull_Next )}}
			<a href="{{.RelPermalink}}">{{.Title}}></a>
		{{ end }}
	{{ end }}
	{{ if .Params.OrderFull_Last }}
		|
		{{range (where .Site.Pages ".Params.eid" .Params.OrderFull_Last )}}
			<a href="{{.RelPermalink}}">>></a>
		{{ end }}
	{{ end }}
  <br>
{{ end }}

<small>[{{- if .Params.number}}{{- .Params.number}}/{{- end}}{{- .Params.eid }}]</small>
<br>
