{{ range (where $.Site.Data.exercises "eid" .Page.Params.eid) }}

<div>
  <p>Video demonstration:</p>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/{{.video.videoid}}?start={{.video.start}}&end={{add .video.start .video.duration}}" frameborder="0" allowfullscreen>
  </iframe>
  {{if .video.name}}
    <p>Excerpt from <a href="https://www.youtube.com/watch?v={{.video.videoid}}" target="_blank">{{.video.name}}<img src="/icons/out-site.png" alt="Leave site"></a>
      {{if .video.author}}
        {{ range (where $.Site.Data.authors "author" .video.author) }}
          by <a href="{{.url}}" target="_blank">{{.author}}<img src="/icons/out-site.png" alt="Leave site"></a>
        {{end}}
      {{end}}
    </p>
  {{end}}
</div>

{{ end }}
